@charset "utf-8";

/* Webfonts */
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Light"), local("FiraCode-Light"), 
       url("../fonts/FiraCode-Light.woff2") format("woff2"),
       url("../fonts/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Regular"), local("FiraCode-Regular"), 
       url("../fonts/FiraCode-Regular.woff2") format("woff2"),
       url("../fonts/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Medium"), local("FiraCode-Medium"), 
       url("../fonts/FiraCode-Medium.woff2") format("woff2"),
       url("../fonts/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code SemiBold"), local("FiraCode-SemiBold"), 
       url("../fonts/FiraCode-SemiBold.woff2") format("woff2"),
       url("../fonts/FiraCode-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Bold"), local("FiraCode-Bold"), 
       url("../fonts/FiraCode-Bold.woff2") format("woff2"),
       url("../fonts/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --padding: 1.875rem;
  --block-padding: calc(var(--padding) / 2);
  --padding-blocks: 2.8125rem;
  --color-blue: #002AFF;
  --color-light-blue: #8095FF;
  --color-black: #000;
  --color-white: #FFF;
  --font-family-serif: "Newsreader", Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-sans: "Fira Code", sans-serif;
  --height-btn: 2.25rem;
}

html {
  font-family: var(--font-family-sans);
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  object-fit: contain;
}

html, body {
  min-height: 100%;
}

body {
  padding: var(--padding);
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  position: absolute;
  top: 0; left: 0;
  width: auto;
  height: auto;
  padding: var(--padding);
  z-index: 0;
}
li {
  list-style: none;
}
body, a, button, input, label {
  cursor: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0V24M24 12L0 12' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") 10 10, default;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:not(#apparatus a) {
  color: var(--color-blue);
  text-decoration: none;
}
button.active a {
  color: var(--color-white);
}
a:visited {
  color: inherit;
}
p a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover {
  text-decoration: underline !important;
  text-underline-offset: 30%;
  text-decoration-thickness: 2px !important;
}
a.link-full:before {
  content: "";
  display: block;
  position: absolute;
  top: 0; right: 0;
  left: 0; bottom: 0;
  z-index: 1;
}
strong, b {
  font-weight: 600; /* Semi-bold */
}
em, i {
  font-style: italic;
}
textarea {
  position: absolute;
  width: auto;
  height: 30rem !important;
  max-height: 75vh;
  appearance: none;
  border: none;
  outline: none;
  resize: none;
  padding: var(--block-padding);
}
object, 
iframe {
  width: calc(100vw - (var(--padding) * 2));
  height: calc(100vh - (var(--padding) * 2));
}
blockquote {
  font-weight: 200; /* Extra-light */
  padding-left: 1rem;
}
pre, code {
  font-family: monospace;
  white-space: pre;
  font-size: 80%;
}
small, .small {
  /* font-size: .5625rem; /* 9px */
  font-size: .75rem; /* 12px */
  line-height: 1.333;
}

/* Functionnals */

/* Texts */
.text-1 {
  font-size: 1.125rem;
}
p, .text-2 {
  font-size: 1rem;
  font-weight: 500;
}
.text-3 {
  font-size: .875rem;
}
.text-4 {
  font-size: .75rem;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden { display: none !important }
.unvisible {
  visibility: hidden !important;
  pointer-events: none !important;
}

[disabled], .disabled {
  cursor: not-allowed !important;
  opacity: .6;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-end {
  align-items: end;
}

.fixed  { position: fixed }
.top    { top: var(--padding) }
.left   { left: var(--padding) }
.right  { right: var(--padding) }
.bottom { bottom: var(--padding) }

.z-max { z-index: 9999 }

.space-x-1 > * + * {
  margin-left: 1px;
}
.rotate-180 {
  -webkit-transform-origin: center;
  -webkit-transform-origin: center;
  transform: rotate(180deg);
  transform: rotate(180deg);
}

.lock-visible {
  display: block !important;
}

.grid {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='1' width='1.2' height='1.2' fill='black'/%3E%3C/svg%3E");
}

.main {
  position: relative;
}

#app.free {
  width: 1000vw !important;
  height: 1000vh !important;
}
#app.vertical {
  width: 100% !important;
  height: auto !important;
  min-height: 100% !important;
}
#app.horizontal,
#app.horizontal .main {
  width: auto !important;
  min-width: 100% !important;
  height: 100% !important;
}
#app.full,
#app.full .main {
  width: 100% !important;
  height: 100% !important;
}

#app.horizontal .main {
  display: flex;
}

.border {
  border: 2px solid #000 !important;
}
.border:not(.apparatus__btn) {
  margin-bottom: -2px;
  margin-left: -2px;
}

/* Icons */
.icon {
  width: 1.5rem;
  height: 1.5rem;
}


/* Buttons */
input,
.inputWrapper,
button, 
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  background: #fff;
  border: 0;
  color: var(--color-black);
  padding: 0 .75rem;
  height: var(--height-btn);
  width: max-content;
}
.btn--icon {
  width: 2.8125rem;
  padding: 0.65625rem;
}
.btn--radio {
  position: relative;
  width: 2.8125rem;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:not(.flex-col) .icon + * {
  margin-left: .5em;
}
.btn.flex-col .icon + * {
  margin-top: .5em;
}
.btn--radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  outline: 0;
  color: var(--color-black);
  background: var(--color-white);
}
.btn--radio input[type="radio"]:before {
  content: "█";
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: inherit;
  font-family: monospace;
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  padding-left: 23px;
  box-sizing: border-box;
  clip-path: circle(10.5px);
}
.btn--radio input[type="radio"]:checked:after {
  content: "";
  display: block;
  width: .625rem; /* 10px */
  height: .625rem; /* 10px */
  background: var(--color-black);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}
.btn--radio input[type="radio"] ~ label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: transparent;
  font-size: 0;
}


/* Header */
#header {
  height: 2.8125rem; /* 45px */
  margin-bottom: 3rem;
  z-index: 900;
  color: var(--color-black);
}
#nav > a {
  margin-right: 5px;
}
#nav > .btn {
  font-weight: bold;
  padding: 0.4rem .75rem;
  width: 10.3125rem;
}
#nav-btn {
  flex: 0;
}
#menu {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  position: fixed;
  top: calc(var(--padding) + 2.8125rem);
  left: var(--padding);
  right: var(--padding);
  margin-top: 5px;
}
.menu li {
  display: inherit;
  background: var(--color-white);
  height: 100%;
  max-height: 2.8125rem;
  margin-right: 1px;
  margin-bottom: 1px;
  white-space: pre;
}
.menu li > a {
  padding: 0.5rem 1rem;
}
@media (hover: hover) {
  .btn:not([disabled]):hover, 
  #header a:hover {
    background: var(--color-black);
    color: var(--color-white);
  }
}
.btn[aria-expanded="true"] {
  background: var(--color-black);
  color: var(--color-white);
}
.btn:not([disabled]):active,
#header a:active {
  background: var(--color-black);
  color: var(--color-white);
}
#menu-login {
  position: absolute;
  top: 2.8125rem;
  right: 0;
  margin-top: 5px;
  margin-right: 1px;
  display: none;
}
#menu-login li {
  white-space: nowrap;
}
#login {
  padding: .5rem;
}
#login[aria-expanded="true"] .rotate-180 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
#login[aria-expanded="true"] + #menu-login {
  display: initial;
}

@media (max-width: 21.5625rem) { /* < 345px */
  #nav {
    transform-origin: top left;
  }
  #header > div {
    transform-origin: top right;
  }
  #nav,
  #header > div {
    transform: scale(.889); /* 40/45 */ 
  }
  #menu {
    top: calc(var(--padding) + 1rem);
    left: calc(var(--padding) - 1.875rem);
  }
}

/* Breadcrumb */
.breadcrumb {
  position: fixed;
  z-index: 999;
  top: calc(var(--padding) + 3.125rem);
  left: 0;
  right: 0;
  padding-right: var(--padding);
  padding-left: var(--padding);
  overflow-x: auto;
  padding-bottom: .875rem;
  display: none;
}
.breadcrumb ol {
  display: flex;
  width: max-content;
}
.breadcrumb ol > li:nth-child(1),
.breadcrumb ol > li:nth-child(2) {
  display: none;
}
.breadcrumb ol > li:last-child {
  margin-right: var(--padding);
}
.breadcrumb ol > li {
  margin-right: 1px;
  margin-bottom: 1px;
  line-height: 1.25;
}
.breadcrumb ol > li > a {
  display: inline-block;
  background: var(--color-white, #fff);
  padding: 0.05em .5em;
  min-height: 1.875rem; /* 30px */
}


/* Headings */
h1 {
  font-size: 3.75rem;
  margin-bottom: .5em;
}
h2 {
  font-size: 2.25rem;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: .5em;
}


/* Blocks */
#context-menu {
  position: absolute;
  z-index: 999;
  pointer-events: all;
}
.blocks {
  position: absolute;
  height: 100%;
  width: 100%;
}
#selection {
  position: absolute;
  width: 1000vw;
  height: 1000vh;
}
#selection .block {
  z-index: 999 !important;
}
.block--options {
  position: relative;
  justify-content: center;
}
.block--options > div {
  position: relative;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
}
.block--options .btn {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
}
.block {
  position: absolute;
  font-family: var(--font-family-sans);
  line-height: 1.5;
  margin: 0 1rem 1rem 0;
  border: 2px solid #000;
  height: auto !important;
  background-color: var(--color-white);
}
.block--selected {
  border: 2px solid var(--color-blue);
}

/* =================================== */
/* ================= LAYOUTS ================= */
/* =================================== */

/* ================= LINEAR ================= */
.blocks.linear {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.blocks.linear .block {
  position: relative;
  transform: translate(0, 0) !important;
}
.blocks.linear .block--image {
  position: relative;
  transform: translate(0, 0) !important;
}
.blocks.linear textarea {
  position: relative;
  transform: translate(0, 0) !important;
}
/* =================================== */
/* ================= END LAYOUTS ================= */
/* =================================== */
/* .block::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(-1 * var(--padding));
  right: calc(-1 * var(--padding));
  visibility: hidden;
  z-index: -1;
} */
.block--text, .block--page {
  width: 16em;
  padding: var(--block-padding);
}
.block--text:not(textarea),
.block--page {
  height: auto !important;
}
.block--text p + *,
.block--text blockquote + *,
.block--text ul + *,
.block--text ol + * {
  margin-top: 1em;
}
.note {
  font-weight: 600; /* Semi-bold */
}
.block .block__category {
  display: inline;
  font-weight: 600; /* Semi-bold */
  font-size: inherit;
}
.block .block__category::after {
  content: " |";
  white-space: pre;
  display: inline-block;
  font-weight: normal;
}
.block .block__title {
  display: inline;
  font-weight: normal;
  font-size: inherit;
}
.block--image {
  position: absolute;
  display: flex;
  height: auto !important;
}
.block--subpage-cover {
  height: auto !important;
}
input[type="file"] {
  font-family: var(--font-family-sans);
  font-size: 1.25rem;
  width: 100%;
  margin: calc((12rem - 45px)/2) var(--padding);
}
::-webkit-file-upload-button {
  display: inline-block;
  font: inherit;
  background: var(--color-white);
  border: 1px solid var(--color-black);
  color: var(--color-black);
  padding: 0.5rem 1rem;
  height: 2.8125rem;
  margin-right: 1em;
}
::file-selector-button {
  display: inline-block;
  font: inherit;
  background: var(--color-white);
  border: 1px solid var(--color-black);
  color: var(--color-black);
  padding: 0.5rem 1rem;
  height: 2.8125rem;
  margin-right: 1em;
}

.block--image button#cover {
  position: absolute;
  top: -50px;
  left: 0;
  transform-origin: bottom left;
  transform: scale(.666);
}
.block iframe {
  display: block;
  margin: calc(-1 * var(--block-padding)); 
  width: calc(100% + var(--block-padding) * 2);
}
.grid .block iframe {
  padding: var(--block-padding);
}
.block iframe + * {
  margin-top: var(--padding);
}

.block::before {
  content: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7V1H13V7L7 13L1 7Z' fill='white' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
  display: block;
  position: absolute;
  top: -4px; right: -7px;
}
.block::after {
  content: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8V14H13V8L7 2L1 8Z' fill='white' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
  display: block;
  position: absolute;
  bottom: -9px; right: -7px;
}

/* Representative */
.block--representative__image {
  position: relative;
}
.block--representative figure {
  position: relative;
}
.block--representative__image a {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 10%;
}
.block--representative__image a:hover {
  background-color: transparent;
}

.block--representative__sum {
  padding: 1rem;
}

/* Edit */
.edit {
  outline: 1px solid var(--color-black);
}
.edit::before {
  border-image: none;
  border-color: transparent;
}

#z-index {
  top: 8rem;
  bottom: 8rem;
}
#z-index, #colors {
  z-index: 800;
  justify-content: center;
}
#colors {
  left: var(--padding);
  right: var(--padding);
  bottom: var(--padding);
}
#header #colors {
  position: initial;
  margin-left: 5px;
}

/* Index */
#apparatus {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}
#apparatus.active {
  background-color: rgba(0, 0, 0, .6);
}
#apparatus__top,
#apparatus__bottom,
#apparatus__middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#apparatus input[type="radio"],
#apparatus input[type="radio"]::before {
  display: none;
}
.apparatus__btn {
  pointer-events: all;
  margin: var(--padding);
}
#slide-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Index */
#index,
#tags {
  display: flex;
}

.index__level,
.tag__level {
  display: block;
  height: 2.8rem;
  z-index: 0;
}

.index__category,
.tags__tag {
  display: flex;
}

.index__category {
  padding: 0;
}

.lock-active,
button.active,
.inputWrapper.active,
.block--representative:hover,
.thread.active .index__category.active {
  background-color: var(--color-black);
  color: #FFF;
}

.block--representative:hover a {
  color: var(--color-light-blue) !important;
}

.thread:hover > li > button,
.thread:hover > li > button > a,
button:hover,
.inputWrapper:hover {
  background-color: var(--color-blue);
  color: #FFF;
  border-color: var(--color-blue) !important;
}
.thread:hover, .border:hover {
  position:relative;
  z-index: 999;
}

button a {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

#tags .thread {
  align-items: flex-end;
}
.thread li {
  height: calc(var(--height-btn) - 2px);
}
/* Present */
#apparatus #present {
  display: flex;
  flex-direction: row-reverse;
}
#present__options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* ================= LAYOUTS ================= */
/* Regular */
.blocks.vertical,
.blocks.horizontal {
  padding-top: var(--padding-blocks);
  height: auto !important;
  position: relative !important;
}
.vertical .block,
.horizontal .block,
.full .block {
  transform: translate(0, 0) !important;
}
.blocks.vertical .block,
.blocks.horizontal .block,
.blocks.horizontal,
.blocks.vertical
.blocks.full,
.blocks.full .block {
  position: static !important;
}

/* Horizontal */
.blocks.horizontal {
  display: flex;
  align-items: center;
  height: 100%;
}
.blocks.horizontal .block {
  width: 40vw;
  margin: 0 2rem 0 0;
  height: max-content !important;
  flex-shrink: 0;
}

/* Vertical */
.blocks.vertical .block {
  margin-right: 0 !important;
}

/* Full */
.blocks.full {
  padding-top: var(--padding-blocks);
  padding-bottom: 2.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocks.full .block {
  width: 70%;
}

.blocks.vertical {
  width: calc(100% - (var(--padding) * 2));
  display: flex;
  flex-direction: column;
  align-items: center;
}

#md-buttons {
  position: absolute;
  top: -50px;
  left: 0;
  transform-origin: bottom left;
  transform: scale(.666);
}
#md-buttons > * + * {
  margin-left: 1.5px;
}
/* Media queries */
@media (max-width: 29.9375rem) { /* < 480px */
  #edit {
    display: none;
  }
}
@media (max-width: 63.9375rem) { /* < 1024px */
  #menu:not(.expanded) {
    display: none;
  }
}
@media (min-width: 64rem) { /* >= 1024px */
  #nav-btn {
    display: none;
  }
  #menu {
    position: initial;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    align-items: flex-start;
  }
  .breadcrumb {
    display: block;
  }
}

/* ================= ADRIEN ================= */

.highlight {
  outline: 1px solid #000;
}

.note {
  scroll-margin-top: 50vh;
  scroll-margin-right: 40vw;
  scroll-margin-left: 40vw;
  
}