/* FONTS */

/* Fira Code */

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Light"), local("FiraCode-Light"),
    url("/assets/fonts/FiraCode-Light.woff2") format("woff2"),
    url("/assets/fonts/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Regular"), local("FiraCode-Regular"),
    url("/assets/fonts/FiraCode-Regular.woff2") format("woff2"),
    url("/assets/fonts/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Medium"), local("FiraCode-Medium"),
    url("/assets/fonts/FiraCode-Medium.woff2") format("woff2"),
    url("/assets/fonts/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code SemiBold"), local("FiraCode-SemiBold"),
    url("/assets/fonts/FiraCode-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/FiraCode-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Bold"), local("FiraCode-Bold"),
    url("/assets/fonts/FiraCode-Bold.woff2") format("woff2"),
    url("/assets/fonts/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Fira Sans */

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-Hair.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-HairItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-UltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/FiraSans-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}