/* DISCLAIMER */

#mobile-disclaimer {
  display: none;
}

/* MOBILE */

@media
only screen and (max-device-width: 480px) and (orientation:portrait),
only screen and (max-device-width: 900px) and (orientation:landscape) {

  #mobile-disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: var(--padding);
    background-color: var(--color-primary);
  }

  #mobile-disclaimer * {
    color: var(--color-secondary);
    text-align: center;
    font-family: var(--font-family-sans);
  }

  #mobile-disclaimer h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    font-family: var(--font-family-code);
  }
}