/*  GLOBAL */

/* Accessibility */

*:not(textarea):focus-visible  {
  outline: var(--border) solid var(--color-accent) !important;
  border: calc(var(--border) /2) solid var(--color-accent) !important;
  z-index: var(--z-index-base);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Global */

html {
    width: 100%;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-1);
    padding: var(--padding);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-secondary);
}

.no-scroll {
  overflow: hidden !important;
}

.no-pointer {
  pointer-events: none !important;
}

/* Grid */

.grid {
  background:
    linear-gradient(90deg, var(--color-secondary), calc(var(--grid-step) - var(--grid-border)), transparent 0),
    linear-gradient(var(--color-secondary), calc(var(--grid-step) - var(--grid-border)), transparent 0),
	var(--color-primary);
  background-size: var(--grid-step) var(--grid-step);
}

/* Iframes */

.block iframe {
  display: block;
  margin-bottom: var(--block-padding);
}

.block * + iframe,
.block iframe + * {
  margin-top: var(--block-padding);
}

.block iframe:last-child {
  margin-bottom: 0 !important;
}

/* Border */

.border,
::file-selector-button,
::-webkit-file-upload-button {
  border: calc(var(--border) /2) solid var(--color-primary);
  outline: calc(var(--border) /2) solid var(--color-primary);
}

.border--blue {
  border-color: var(--color-accent);
  outline-color: var(--color-accent);
}

/* Functionals */

/* use to hide  */
.hidden {
  display: none !important;
}

/* Audio */

audio {
  width: 100%;
}


/* MOBILE */

@media
  only screen and (max-device-width: 480px) and (orientation:portrait),
  only screen and (max-device-width: 900px) and (orientation:landscape) {

  html {
    /* overflow: hidden; */
    width: 100%;
    min-height: 100vh;
    height: strech;
    height: moz-available;
    height: -webkit-strech;
  }

  body {
    height: strech;
    height: moz-available;
    height: -webkit-strech;
    width: 100vw;
    /* position: fixed; */
    /* overflow-y: scroll; */
    -webkit-overflow-scrolling: touch;
  }

  .hidden--mobile {
    display: none !important;
  }
}