/* LAYTOUS */

/* App */

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: var(--padding);
  z-index: var(--z-index-grid);
  cursor: grab;
  pointer-events: all;
}

#app {
  overflow: hidden;
  min-width: 100% !important;
  min-height: 100% !important;
}

#app.extend {
  width: 2500px !important;
  height: 2500px !important;
}

/* Linear */

/* ? */

.blocks.linear {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.blocks.linear .block {
  position: relative;
  transform: translate(0, 0) !important;
}

.blocks.linear .block--image {
  position: relative;
  transform: translate(0, 0) !important;
}

.blocks.linear textarea {
  position: relative;
  transform: translate(0, 0) !important;
}

/* Regular */

.vertical .block,
.horizontal .block,
.full .block {
  transform: translate(0, 0) !important;
}

.blocks.vertical .block,
.blocks.horizontal .block,
.blocks.horizontal,
.blocks.vertical .blocks.full,
.blocks.full .block {
  position: static !important;
  z-index: var(--z-index-block);
}

/* Horizontal */

#app.horizontal {
  width: auto !important;
  height: 100% !important;
  min-width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* right: 0;
  bottom: 0; */
}

/* #app.horizontal .main {
  display: flex;
  height: 100%;
} */

.blocks.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 100%; */
}

.blocks.horizontal {
  height: auto !important;
  position: relative !important;
}

.blocks.horizontal .block,
.blocks.horizontal .absolute {
  margin-right: var(--margin-block);
  max-height: 100%;
  /* height: max-content;
  flex-shrink: 0;
  position: relative;
  transform: none !important; */
}

.blocks.horizontal .block:last-child {
  margin-right: 0;
}

.blocks.horizontal .absolute {
  position: relative;
}

.horizontal textarea {
  position: relative;
  transform: none !important;
  right: 0;
  max-height: 100%;
  /* margin-right: var(--margin-block); */
  /* height: max-content; */
  /* flex-shrink: 0; */
}

.horizontal #md-buttons,
.horizontal #edit-buttons--left {
  transform: none !important;
}

/* Vertical */

#app.vertical {
  width: 100% !important;
  height: auto !important;
  min-height: 100% !important;
}

.blocks.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocks.vertical {
  margin: calc(var(--height-btn) + var(--margin-block)) 0;
  height: auto !important;
  position: relative !important;
}

.blocks.vertical .block,
.blocks.vertical .absolute {
  margin-bottom: var(--margin-block);
  max-width: 100%;
}

.blocks.vertical .block:last-child {
  margin-bottom: 0;
}

.blocks.vertical .absolute {
  position: relative;
}

.vertical textarea {
  position: relative;
  transform: none !important;
  bottom: 0;
  max-width: 100%;
}

.vertical #md-buttons,
.vertical #edit-buttons--left {
  transform: none !important;
}

/* Full */

.full #viewfinder {
  z-index: 1;
}

.main {
  position: relative;
}

#app.full,
#app.full .main {
  width: 100% !important;
  height: 100% !important;
  cursor: auto !important;
}

.blocks.full {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--height-btn) * 2);
}

.blocks.full .block,
.blocks.full .absolute {
  max-width: 100%;
}

.blocks.full .absolute {
  display: flex;
  max-width: calc(100% - calc(var(--padding) * 4));
}

.blocks.full .block--markdown > div > div,
.blocks.horizontal .block--markdown > div > div {
  max-height: calc(100vh - calc(var(--padding) * 6));
  overflow-y: scroll;
}

.full textarea {
  position: relative;
  transform: none !important;
  max-width: 100%;
}

.full #md-buttons,
.full #edit-buttons--left {
  transform: none !important;
}

/* Slide */

#slide-nav {
  padding: 0 var(--padding);
}

/* MOBILE */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  /* end fix footer and URL bar conflict */
  #app {
    padding: 0;
    width: 100% !important;
    height: auto !important;
  }
}
